body{
	background: url(bg.jpg) no-repeat center fixed;
	background-color: gray;
	font-family: sans-serif;
	text-align: center;
}

h1{
	color: black;
	font-size: 75px;
	font-weight: bold;
	margin-bottom: 0;
	font-family: 'Oswald', sans-serif;
}

h2{
	color: black;
	font-size: 25px;
	margin-top: 0;
}

.me {
	height: 150px;
	width: 150px;
	border-radius: 25%;
	border-style: solid;
	border-color: white;
	margin-top: 50px;

}

.bio {
	width: 500px;
	color: black;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;;
	text-align: center;
}

hr {
	width: 800px;
}